@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

.str-chat{
  --str_chat__primary-color:theme(colors.blue.500);
  --str_chat__active-primary-color:theme(colors.blue.600);
  --str_chat__disabale-color:theme(colors.gray.200);
  --str_chat__cta-button-border-radius: theme(borderRadius.DEFAULT)
}
.dark .str-chat {
  --str-chat__disable-color:theme(colors.gray.600)
}
.str-chat * {
  font-family: inherit !important;
}


